div.contact {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

div.contact p {
    font-style: italic;
    font-size: 13px;
}

div.contact i {
    margin: 0 10px;
    font-size: 1.3em;
    color: #8e44ad;
}